.about-us-section {
    background-color: #2C2A2D;
    color: #FFFFFF;
    padding: 80px 0;
}

.about-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.about-image {
    text-align: center;
}

.about-img {
    max-width: 80%;
    height: auto;
    /* border: 1px solid #3A3A3D; */
    filter: drop-shadow(0px 0px 10px rgba(225, 106, 32, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.about-img:hover {
    /* box-shadow: 0px 4px 15px rgba(225, 106, 32, 0.7); */
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .about-us-section {
        padding: 40px 20px;
    }

    .about-text {
        margin-bottom: 20px;
    }

    .about-img {
        margin-bottom: 30px;
    }
}