/* Global Styles */
.homepage {
  background-color: #2C2A2D;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
}

/* Section 1: Catchy Line */
.catchy-line {
  background-color: #2C2A2D;
  padding: 80px 20px;
}

.catchy-text {
  font-size: 3rem;
  color: #FFFFFF;
}

.subtext {
  color: #B0B0B0;
  margin-top: 10px;
}

/* Section 2: Button */
.button-section {
  padding: 40px 20px;
}

.btn-cta {
  background-color: #E16A20;
  border: none;
  color: #FFFFFF;
}

.btn-cta:hover {
  background-color: #F89C4C;
}

/* Section 3: Benefits Section */
.benefits-section {
  background-color: #3A3A3D;
  padding: 60px 20px;
  color: #B0B0B0;
}

.benefit-block {
  background-color: transparent;
  padding: 20px;
  border: 1px solid #FFD700;
  border-radius: 8px;
  margin-bottom: 30px;
}

.benefit-title {
  color: #FFD700;
  font-size: 1.5rem;
}

.benefit-description {
  color: #B0B0B0;
  margin-top: 10px;
}

/* Section 4: Social Media Section */
.social-media-section {
  background-color: #3A3A3D;
  padding: 60px 20px;
  color: #FFFFFF;
}

.instagram-frames {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.instagram-frame {
  width: 150px;
  height: 150px;
  background-color: #3A3A3D;
  border: 3px solid #FFD700;
  border-radius: 10px;
}

/* Testimonials Carousel Section */
.testimonials-carousel {
  /* Darker Gray */
  color: #FFFFFF;
  /* Pure White */
  padding: 20px;
  margin: 20px 6em;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* gap: 50px */
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 100%;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #00000088;
  /* Gold */
  border-radius: 10px;
  color: #fff;
  /* Base Dark */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}