.reset-password-container {
    background: url('../Assets/SignUp_LogIn_BG.png');
    /* Base Dark Color */
    color: #FFFFFF;
    /* Pure White */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reset-password-card {
    background-color: #3A3A3D;
    /* Darker Gray */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.reset-password-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    color: #B0B0B0;
    /* Light Gray */
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #F2F2F2;
    /* Light Gray/Off White */
    border-radius: 5px;
    background-color: #2C2A2D;
    /* Base Dark Color */
    color: #FFFFFF;
    /* Pure White */
}

.form-control::placeholder {
    color: #B0B0B0;
    /* Light Gray */
}

.btn-reset {
    background-color: #E16A20;
    /* Base Vibrant Orange */
    color: #FFFFFF;
    /* Pure White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-reset:hover {
    background-color: #F89C4C;
    /* Lighter Orange Tone */
}

.success-message {
    color: #3DDC97;
    /* Mint Green */
    margin-top: 20px;
}

.error-message {
    /* color: #FF4E50;  */
    /* Vibrant Red */
    margin-top: 20px;
}